#scroll_navi {
  position: fixed;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  display: flex;
  gap: 50px;
  flex-direction: column;

  li {
    width: 10px;
    height: 10px;
    background-color: #fff;
    cursor: pointer;
    transition-delay: .5s;

    &.on {
      height: 100px;
      background-color: #333;
    }
  }
}
