header {
  width: 100%;
  background-color: #fff;
  padding: 20px 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: $border-thick-ddd;

  h1 {
    a {
      font: bold 24px/1 'aria';
      color: #333;
    }
  }

  #gnb {
    display: flex;
    gap: 50px;

    li a {
      font: 15px/1 'arial';
      color: #777;
    }

  }
    .fa-bars {
      display: none;
    }

  &.main {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 2;

    h1 a {
      color: #fff;
    }

    #gnb li a {
      color: #fff;
    }
  }
}

@media screen and (max-width: $tablet){
  header {
    #gnb {
      display: none;
    }
    .fa-bars {
      display: block;
    }
  }
}
