#mobileHeader {
  width: 280px;
  height: 100vh;
  background: #333;
  position: fixed;
  z-index: 10;
  padding: 50px;
  top: 0;
  left: 0;

  h1 {
    font: bold 40px/1 'arial';
    margin-bottom: 30px;

    a {
      color: #aaa;
    }
  }

  ul#gnb {
    li {
        padding: 5px 0;
      a {
        color: #bbb;
      }
    }
  }
}
